<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    </head>
    
    <body>
        <div class="login-box">
            <div>
                <h1>Login Page</h1>
                <form action="" method="">
                    <label>Username</label>
                    <input type="text",name=username,required>
                    <label>Password</label>
                    <input type="password" name="password" required>
                    <input type="submit" value="Login">
                    <p>Don't Have an account?</p>
                    <a href="{{url_for('resgister.html')}}">Resgister</a>
                </form>
            </div>
        </div>
    </body>
</html>